<!DOCTYPE html>
<html lang="en" ng-app="collection">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container" ng-controller="UserController">
        <h1>Hi, {{user.name}}.</h1>
        <h2 class="text-{{user.status}}">Your current status: {{user.status}}</h2>
        <!-- <input type="text" ng-model="store.user.name" /> -->
        <!-- <input type="text" ng-model="store.user.status" /> -->
    </div>

    <div class="container" ng-controller="CollectionController as collection">
        <div class="row" ng-repeat="item in collection.items">
            <h2>
                {{item.name}}
                <span class="small">{{item.release | date:'mediumDate'}}</span>
            </h2>
            <h3>International Gross: {{item.gross * 1000000 | currency:'$'}}<h3>
            <div>
                <p>{{item.shortDescription}}</p>
            </div>
            <h3 class="small text-success text-right" ng-show="{{item.inCollection}}">(In your collection)</h3>

        </div>
    </div>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>
